#analysis {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: 80% 5% auto;
  height: 100%;

  #story {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  #toolbar, button, ul {
    grid-column: 2 / 3;
  }

  #toolbar {
    grid-row: 1 / 2;
  }

  > button {
    grid-row: 2 / 3;
    width: 50%;
    justify-self: center;
    font-size: 1rem;
  }

  ul {
    grid-row: 3 / 4;
  }
}

form#toolbar {
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 1rem;
    margin-left: 1rem;
  }

  input[type="radio"] {
    transform: scale(1.2);
    margin-right: 1rem;
  }

  input[name="miscue"] {
    margin-left: 1rem;
  }

  input:disabled {
    background: grey;
    display: none;
  }

  label.disabled {
    display: none;
  }

  button[type="submit"] {
    font-size: 1rem;
    width: 50%;
    align-self: center;
  }
}

div#mistakeForm.__react_component_tooltip {
  opacity: 1;

  input[type="radio"] {
    margin-right: 0.5rem;
  }

  input[name="miscue"] {
    display: block;
    margin: 0.5rem auto;
  }

  button {
    display: block;
    margin: auto;
  }
}

.clicked {
  border-style: dotted;
  border-color: red;
}

#story p {
  font-size: 1.15rem;
  line-height: 2.5;
}

#story span {
  padding: 5px;
  margin: 1em;
}
